@model List<Category>
@{
    Layout = "_Layout";
}

@{
    int x = 0;
}


<h1 class="text-center" style="color:#CDA45E">Category Index</h1>

<div class="container mt-5">
    <a asp-action="Add" asp-controller="Category" class="btn" style="color:#CDA45E; float:left;">Add new Category</a>

    <table class="table table-hover table-dark mt-3">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>

        @foreach (var item in Model)
        {
            x++;
            <tr>
                <td>@x</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn" style="color:#CDA45E">Edit</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn ml-2" style="color:#CDA45E">Delete</a>

                </td>
            </tr>
        }
    </table>
</div>