@model IEnumerable<Order>
<table class="table table-hover table-dark container" style="margin-top: 145px ;margin-bottom: 145px ">
    <thead>
        <tr>

            <th scope="col"> name</th>
            <th scope="col">Adress</th>
            <th scope="col">Phone</th>
            <th scope="col">total price</th>
            <th scope="col">OrderDate</th>
            <th scope="col">Order Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ord in Model)
        {
            <tr>
               
                <td>@ord.User.Name </td>
                <td>@ord.User.City </td>
                <td>@ord.User.Phone</td>
                <td>@ord.TotalPrice</td>    
                <td>@ord.CreatedAt</td>    
                <td>@ord.OrderStatus</td>
                <td>
                    <a asp-controller="Order" asp-action="Details" asp-route-Id="@ord.OrderId" class="btn btn-secondary"><i class="bi bi-eye-fill "></i>  Details</a>
                </td>
                    
            </tr>
        }
    </tbody>
</table>
